<div class="wrapper" style="display: flex; justify-content: space-between; align-items: center;">
    <a class="internal-link" href="{{ site.baseurl }}/"><b>{{ site.title }}</b></a>
</div>

<div class="floating-theme-switch">
    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
        </label>
    </div>
</div>

<script src="{{ site.baseurl }}/assets/js/theme-switcher.js"></script>
