<div class="wrapper" style="display: flex; justify-content: space-between; align-items: center;">
    <a class="internal-link" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/favicon_io-light/favicon-light.svg" alt="{{ site.title }}" class="logo light-logo" style="height: 45px;">
        <img src="{{ site.baseurl }}/assets/favicon_io-dark/favicon-dark.svg" alt="{{ site.title }}" class="logo dark-logo" style="height: 45px;">
    </a>
</div>

<div class="floating-theme-switch">
    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
        </label>
    </div>
</div>

<script src="{{ site.baseurl }}/assets/js/theme-switcher.js"></script>
