<div class="newsletter-container">
    <h3>Receive my updates</h3>
    <p>Follow me via email, <a href="/feed.xml">RSS</a>, and <a href="https://bsky.app/profile/angadh.com" target="_blank" rel="noopener noreferrer">Bluesky</a>.</p>
    
    <form
      name="newsletter"
      method="POST"
      action="/success/"
      netlify-honeypot="bot-field"
      data-netlify="true"
    >
      <label class="hidden">Don't fill this out:</label>
      <input class="hidden" name="bot-field" />
      
      <div class="input-group">
        <input type="email" name="email" required placeholder="Enter your email" />
        <button type="submit">Sign up</button>
      </div>
    </form>
  </div>
