<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <nav>{% include nav.html %}</nav>
    <div class="wrapper">
      <main>{{ content }}</main>
    </div>

    {% include link-previews.html wrapperQuerySelector="content" %}
    {% include newsletter.html %}
    <footer>{% include footer.html %}</footer>

    <script src="{{ site.baseurl }}/assets/js/scroll-progress.js"></script>
    <script src="{{ site.baseurl }}/assets/js/mobile-toc.js"></script>
    <script src="{{ site.baseurl }}/assets/js/mobile-sidenotes.js"></script>
    {% include structured-data.html %}
  </body>
</html>
