---
layout: page
---

<h4 class="topic-header"><a href="{{ site.baseurl }}/topics" class="topics-link">Topics</a><span class="topic-separator">/</span><span class="highlight-tag">{{ page.tag }}</span></h4>

{% assign notes = site.notes | where_exp: "note", "note.tags contains page.tag" %}
<p class="entry-count">{{ notes | size }} entries about this topic</p>

<ul>
  {% for note in notes %}
    <li>
      <span class="note-date">{{ note.date | date: "%Y · %m" }}</span>
      <a class="internal-link" href="{{ site.baseurl }}{{ note.url }}">{{ note.title }}</a>
    </li>
  {% endfor %}
</ul>